*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: $remSize;
    scroll-behavior: smooth;
    height:100%;
}

body{
    background-color: $background-color;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-size: 1.5rem;
    min-height: 100%;
    box-sizing: border-box;
}

@import './layout';
@import './typography'